<div class="story-body">
  <p>For-profit corporations own the majority of nursing home facilities in 44 states. In 2012, public health experts published a <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3447240/">study</a> that concluded that the top 10 for-profit chains had less registered nurses and lower total nurse staffing hours than non-profit or government-owned facilities. The chains received 36% higher deficiencies and 41% higher serious deficiencies than government facilities.</p>
  <p>Using data from from the Centers for Medicare and Medicaid Services, I was able to analyze complaints and deficiencies per capita filed against for-profit and non-profit-owned facilites in all 50 states. Since nursing homes are increasingly owned by for-profit chains and private equity investors, I scraped the CMS website to get the latest ownership structure for each facility in the country. I used Python (pandas) to clean and analyze the dataset after merging the complaints and deficiencies per facility with my ownership dataset.</p>
  <!-- If you use images, the path is just images/___ -->
  <p>I found that 82% of complaints filed by elderly residents and family members are filed against for-profit nursing homes. Over 360,000 deficiencies have been found by state inspectors since 2013; 76% belong to for-profit owned facilities.</p>
  <p>But given that for-profits own the majority of nursing homes across 50 states, I also did a per-capita analysis to make sure that complaints and deficiencies are still filed mostly against for-profit owners. The top 10 states with the highest average of complaints are below. In these 10 states, complaints filed per 1000 residents against for-profit owners are higher than those against non-profit or government owned institutions.</p>
  <p>Oregon, Nevada and Idaho have the largest difference between complaints filed against the two ownership structures.</p>

<br>
</div>