<div class="story-body">
  <br>
  <p>Studies have shown that for-profit ownership exacerbates poor staffing as corporations are eager to run facilities on a leaner budget. Facilities are understaffed while nurses are underpaid.</p>
  <p>When nurses aren't able to attend the needs of vulnerable elderly residents, deficient care is the main repercussion. Residents fall, they are not administered proper medicine or they are not given proper care. This is why 42 states have more deficiencies per capita filed against for-profit facilities.</p>
  <!-- If you use images, the path is just images/___ -->
</div>